<h2 class="b-clues">Clues: <span data-function="clueCount">0</span></h2>
<div data-function="boardGame" class="b-board-game">
    <img id="{{ person.img }}" (click)="checkPerson(person)" *ngFor="let person of persons" src="{{ person.img }}" alt="">
</div>
<div data-function="questions" class="b-questions">
    <div *ngFor="let question of questions">
        <h2>{{ question.title }}</h2>
        <button (click)="checkQuestion(question.key, q)" *ngFor="let q of question.questions">{{ q }}</button>
    </div>
</div>